doctype html
head
  title MindWoX | Login
  link(rel='stylesheet' type='text/css' href='/stylesheets/main.css')
  link(rel='icon' href='images/fev.png' alt='mindwox' type='image/png' sizes='128x128')
  meta(name='Description' content='MindWoX is the VR & AR conent viewer and editor.contact info@madrasmindworks.com')
  meta(name='Keywords' content='VR, AR, Virtual Reality, Augmented Reality,Editor,Application,MindWoX')
  meta(name='googlebot' content='noindex')
  meta(name='author' content='mindwox')
  meta(name='robots' content='noindex')
  // Boostrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')
  // Boostrap JS
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
  // FA
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  // <script src="https://www.google.com/recaptcha/api.js" async defer></script>
.wrapper
  if messageColor === undefined
    - messageColor  = "black"
  p(style=`text-align: center; color:${messageColor} ;`)   #{message}
  #formContent
    .fadeIn.first
      img#icon(src='images/mindwox.png' alt='mindwox')
    form#registration-form(method='POST' name='forgot-password-form' action='/forgot-password')
      .form
        #error_field(name='error_field' style='font-size:15px; color:red; margin-top:0px; text-align: center;')
        input#email.loginfield(type='email' name='email' placeholder='Email'  autofocus)
        // <div class="g-recaptcha loginfield1" data-sitekey="6LfftugUAAAAAODrqruo2GnNBabc5zcpstRPa5U9" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
        h5#sent
        button.without
        input(type='submit' value='Get Reset link in Mail' name='Reset Password')
        a.add(href=`/login` type='button')
                          | Login
        //- p.downtxt
        //-   | Forgot your password click here
        //-   a.requestfor(href='rp/resetpassword.php')
        //-     strong Forgot Password
    // 
    // Remind Passowrd
    //- #formFooter
    //-   a.forgot(href='request_signup.php') Request for Signup
